{
  "env": {
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/jsx-indent": "off",
    "quotes": [2, "double", "avoid-escape"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "arrow-parens": "off",
    "indent": "off",
    "comma-dangle": "off",
    "react/prop-types": "off",
    "react/destructuring-assignment": "off",
    "import/no-extraneous-dependencies": "off",
    "no-trailing-spaces": "off",
    "no-console": "off",
    "no-param-reassign": "off"
  }
}
